.git
.github
.idea
.vscode
.cursor
.zed
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar
public/hot
public/storage
bootstrap/cache/*.php
tests
template_base
.env
.env.*
!.env.example
*.log
